<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Config UI Tests" verbose="1">

	<listeners>
		<listener class-name="com.rummycircle.utils.reporting.RCTestListener" />
		<listener class-name="com.rummycircle.utils.testutils.TestRunTransformer" />
		<!-- This should be commented when executing locally <listener class-name="com.rummycircle.utils.reporting.WebDriverListener" 
			/> -->
	</listeners>

	<!-- 
	<test name="LoginTest">
		<classes>
			<class name="com.rummycircle.login.LoginPageTest" />
		</classes>
	</test>
	 	<test name="KycParametersTest">
		<classes>
			<class name="com.rummycircle.kycparameters.KycParametersTest"></class>
		</classes>
	</test>
	 -->
	 <!-- 
	<test name="CreateTableTest" parallel="methods" thread-count="2">
		<parameter name="testData" value="CreateTable|defaultDataset|Data.xlsx"></parameter>
		<classes>
			<class name="com.rummycircle.newwebadmin.CreateTableTest">
				<methods>
					<include name="createCFPTable"/>
					<include name="createPoolRummyTable"/>
					<include name="createDealsRummyTable"/>
					<include name="createRaiseRummyTable"/>
				</methods>
			</class>
		</classes>
	</test>
	 -->
	<test name="ScheduleTest" parallel="methods" thread-count="2">
		<classes>
			<class name="com.rummycircle.newwebadmin.tableschedules.SchedulePointsTableTest"></class>
			<class name="com.rummycircle.newwebadmin.tableschedules.ScheduleRaiseTableTest"></class>
			<class name="com.rummycircle.newwebadmin.tableschedules.ScheduleDealsTableTest"></class>
			<class name="com.rummycircle.newwebadmin.tableschedules.SchedulePoolTableTest"></class>
		</classes>
	</test>
	
 	<!-- 
	<test name="BrandingTest" parallel="methods" thread-count="2">
		<classes>
			<class name="com.rummycircle.newwebadmin.branding.BrandingTest"></class>
		</classes>
	</test>
	<test name="BreakTest" parallel="methods" thread-count="2">
		<classes>
			<class name="com.rummycircle.newwebadmin.breakstructure.BreakStructureTest"></class>
		</classes>
	</test>
	<test name="RegistrationConditionTest" parallel="methods" thread-count="2">
		<classes>
			<class name="com.rummycircle.newwebadmin.registrationcondition.RegistrationConditionTest"></class>
		</classes>
	</test>
	 -->
	
</suite>
<!-- <test name="KycParametersTest"> <parameter name="testData" value="testdata|Dataset1|data.xlsx"> 
	<classes> <class name="com.rummycircle.kycparameters.KycParametersTest"></class> 
	<method> <include name="testKycGoLiveParameter"></include> </method> </classes> 
	</parameter> </test> <test name="dummytest"> <parameter name="testData" value="testdata|Dataset1|data.xlsx"> 
	<classes> <class name="dummy.TestClass"></class> <method> <include name="testMethod"></include> 
	</method> </classes> </parameter> </test> -->
